.header-box {
   width:100%;
}
.header-box h5{
    margin-bottom: 0px;
    margin-top: 0px;
    color:#e65100;
    font-size: 1.10rem;
   }
.header-box  p{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 11px;
   }

.small-icon {
    font-size: 12px;
}



:host ::ng-deep  [type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #e65100;
     background-color: #e65100;
}
:host ::ng-deep .collapsible-body{
    padding:5px;
    padding-top: 0px !important;
    background-color: #f8f8f8 !important; 
}


:host ::ng-deep .modal { 
   width: 75% !important ; 
   height: 80% !important ;
   max-height: 100% !important;
 } 



.no-saved{
    color:#fbc02d ;
    border-top: 2px solid #fbc02d ; 
    font-size: 9px;
    padding-top: 5px;
    margin-top: 10px;
}
.saved{
    color:#66bb6a;
    border-top: 2px solid #66bb6a;
    font-size: 9px;
    padding-top: 7px;
    margin-top: 11px;
}

:host ::ng-deep .collapsible-header {
    padding: 10px;
 }
 .disabled{
    background-color: #dddddd;
    color:gray;
    cursor: auto;
    pointer-events: none !important;
    border-color: gray;
        border: 1px solid;
}