<div class="row m-t-15">
  <div class="col m10 offset-m1">
    <mz-card>
      <mz-card-title>
        <h4 class="m-b-20">Collections <button mz-button class="right m-t-10" (click)="openModalCollection()">
          <i mz-avatar mz-icon-mdi [icon]="'library-plus'" [align]="'left'"></i>Create collection</button></h4>
      </mz-card-title>
      <mz-card-content>
        <mz-collection>
          <mz-collection-item [avatar]="true" *ngFor="let collection of collections">
            <i mz-avatar mz-icon-mdi [icon]="'library-books'" class="grey darken-1"></i>
            <a class="title" routerLink="/collection/{{ collection.id }}">
              <div class="title">{{ collection.title }}</div>
              <p>{{collection.description}}</p>
            </a>
            <div mz-secondary-content>
              <a mz-button routerLink="/collection/{{ collection.id }}"><i mz-icon-mdi [icon]="'eye'" [align]="'left'"></i> Show Details</a>
            </div>
          </mz-collection-item>
        </mz-collection>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<mz-modal #modalCollection [fixedFooter]="true">
  <mz-modal-header>
    Create a new Collection
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'Collection Title'"
            [(ngModel)]="collection.title"
            type="text">
        </mz-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <mz-textarea-container>
          <textarea mz-textarea
            [(ngModel)]="collection.description"
            [label]="'Description'">
          </textarea>
        </mz-textarea-container>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button [flat]="true" mz-modal-close (click)="createCollection()">Save</button>
  </mz-modal-footer>
</mz-modal>
