<div class="row">
  <div class="col s12">
    <mz-collection>
      <mz-collection-item [avatar]="true" *ngFor="let page of pages">
        <i mz-avatar mz-icon-mdi [icon]="'file-document'" class="grey darken-1"></i>
        <a class="title" routerLink="/transcribe/{{page.id}}">
          <div class="title">{{ page.title }}</div>
        </a>
        <div *ngIf="page.status">{{ page.status }}</div>
        <div mz-secondary-content>
          <a mz-button routerLink="/transcribe/{{page.id}}"><i mz-icon-mdi [icon]="'transcribe'" [align]="'left'"></i> {{'transcribe.title' | translate}}</a>
        </div>
      </mz-collection-item>
    </mz-collection>
  </div>
</div>
