<div class="row">
  <div class="col s12">
    <mz-collection *ngIf="works && works.length > 0">
      <mz-collection-item [avatar]="true" *ngFor="let work of works">
        <!-- <i mz-avatar mz-icon-mdi [icon]="'book-open-page-variant'" class="grey darken-1"></i> -->
        <div mz-avatar [style.background-image]="'url(' + work.getThumbnailUrl() + ')'" class="work-avatar"></div>
        <a class="title" routerLink="/work/{{work.id}}">
          <div class="title">{{ work.title }}</div>
        </a>
        <!-- <div *ngIf="work.status">{{ work.status }}</div> -->
        <div mz-secondary-content>
          <a mz-button routerLink="/work/{{work.id}}" class="btn-small z-depth-0"><i mz-icon-mdi [icon]="'eye'" [align]="'left'"></i> {{'app.button.show' | translate}}</a>
        </div>
      </mz-collection-item>
    </mz-collection>
    <div class="container center-align" *ngIf="!works || works.length == 0">
      <p class="empty-data-message m-t-10">{{'dashboard.tab.yourWorks.noWorksMessage'| translate}}</p>
    </div>
  </div>
</div>
