<div class="row" class="row m-t-15 m-b-0" *ngIf="global['currentUser']">
  <div class="col s12 m7 l9">
    <div class="row">
      <div class="col s12">
        <div class="carousel carousel-slider welcome-carousel center" data-indicators="true">
          <!-- <div class="carousel-fixed-item center">
                <a class="btn waves-effect white grey-text darken-text-2">button</a>
              </div> -->
          <div class="carousel-item white-text" href="#one!" style="background-image: url('http://127.0.0.1:8887/books.jpg');">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
          </div>
          <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
          </div>
          <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
          </div>
          <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m5 l3" *ngIf="collectionsOwner">
    <div class="row m-b-0">
      <div class="col s12">
        <div class="card card-range m-t-0">
          <div class="card-content center-align white-text">
            <!-- <p *ngIf="collection.works && collection.works.length >= 1">{{collection.works[0].description}}</p> -->
            <h6 class="m-t-0">Rango de Usuario</h6>
            <div class="circle-progress-container">
              <circle-progress 
                [percent]="85"
                [radius]="60"
                [space]="-5"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="0"
                [outerStrokeColor]="'#F9F9F9'"
                [innerStrokeColor]="'#C9c9c9'"
                [responsive]="true" 
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'http://127.0.0.1:8887/pluma.png'"
                [imageHeight]="105"
                [imageWidth]="105">
              </circle-progress>
            </div>
            <h6 class="m-b-0">Visitor</h6>
            <small class="m-t-0">25% para próximo Rango</small>
            <!-- <small>25/40 acciones realizadas</small> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row m-t-15" *ngIf="global['currentUser']">

  <div class="col l9">
    <!--
    <div class="row">
      <div class="col s12">

        <mz-card *ngIf="collectionsOwner">
          <mz-card-title>
            <h4 class="m-b-20">{{'dashboard.title' | translate}}</h4>
          </mz-card-title>
          <mz-card-content>

            <mz-tab
              [responsiveThreshold]="'true'"
              [fixedTabWidth]="'true'"
              [onShow]="onShow()"
              [swipeable]="'true'">
              <mz-tab-item
                [class]="'col s12'"
                [label]="'dashboard.tab.yourWorks.title' | translate">

                <div class="row">
                  <div class="col s12">
                    <mz-collection class="collection-works-list" *ngFor="let collection of collectionsOwner.collections">
                      <mz-collection-header><h5>{{collection.collection.title}}</h5></mz-collection-header>
                      <div class="container center-align" *ngIf="collection.works.length == 0">
                        <p class="empty-data-message">{{'dashboard.tab.yourWorks.noWorksMessage'| translate}}</p>
                      </div>
                      <a mz-collection-link href="#!" *ngFor="let work of collection.works" routerLink="/work/{{work.id}}">{{work.title}}</a>
                    </mz-collection>
                  </div>
                </div>
              </mz-tab-item>

              <mz-tab-item
                [class]="'col s12'"
                [label]="'dashboard.tab.startAProject.title' | translate">
                <div class="row">
                  <div class="col s12">
                    <app-upload
                      #uploadComponent
                      (newCollectionSelected)="openNewCollectionModal()">
                    </app-upload>
                  </div>
                </div>
              </mz-tab-item>
            </mz-tab>

          </mz-card-content>
        </mz-card>
      </div>
    </div> -->

    <div class="row" *ngIf="collectionsOwner">
      <div class="col s12">
        <h5 class="m-t-0">Mis Colecciones</h5>
      </div>
      <div class="col s12 m6 l4">
        <div class="card card-collection add-collection-card hoverable" (click)="uploadModal.openModal()">
          <div class="card-content">
            <div class="add-label">
              <p class="center-align"><i mz-icon-mdi [icon]="'plus'" [align]="'center'" [size]="'36px'"></i></p>
              <p class="center-align">Agregar Colección</p>
            </div>
          </div>
          <div class="card-action right-align">
            <span>&zwnj;</span>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4" *ngFor="let collection of collectionsOwner.collections">
        <div class="card card-collection hoverable">
          <div class="card-content">
            <span class="card-title">{{collection.collection.title}}</span>
            <!-- <p *ngIf="collection.works && collection.works.length >= 1">{{collection.works[0].description}}</p> -->
          </div>
          <div class="card-action">
            <span>{{collection.works.length == 1 ? collection.works.length + ' proyecto' : collection.works.length + ' proyectos'}}</span>
            <a class="m-r-0" href="#!" class="right m-r-0" routerLink="/collection/{{collection.collection.id}}">Ver más</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col s12 l3" *ngIf="collectionsOwner">
    <div class='row' *ngIf="global['currentUser']">
      <div class="col s12">
        <ul class="collection with-header no-border z-depth-1 m-t-0">
          <li class="collection-header"><i mz-icon-mdi [icon]="'counter'"></i><span>Estado del Sitio</span></li>
          <li class="collection-item"><span class="badge">{{collectionsOwner.collectionSize}}</span>{{'dashboard.counter.collections' | translate}}</li>
          <li class="collection-item"><span class="badge">{{collectionsOwner.works}}</span>{{'dashboard.counter.works' | translate}}</li>
          <!-- <li class="collection-item"><span class="badge">{{collectionsOwner.notes}}</span>{{'dashboard.counter.notes' | translate}}</li> -->
        </ul>
      </div>
    </div>

    <div class='row'>
      <div class="col s12">
        <ul class="collection with-header no-border z-depth-1">
          <li class="collection-header"><i mz-icon-mdi [icon]="'history'"></i><span>{{'dashboard.yourActivity.title' | translate}}</span></li>
          <li
            *ngFor="let collectionDeed of collectionsDeeds"
            class="collection-item"
            translate
            [translateParams]="{
              user: collectionDeed.user,
              deedType:getDeedMessage(collectionDeed.deed_type),
              collection: collectionDeed.collection}">
            dashboard.yourActivity.collectionDeed
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>


<div class="row m-t-15" *ngIf="!global['currentUser']">
  <div class="col m10 offset-m1">

    <mz-card>
      <mz-card-title>
        <h4 class="m-b-20">{{'dashboard.title' | translate}}</h4>
      </mz-card-title>
      <mz-card-content>

        <div class="row" *ngFor="let collection of collectionsDeeds">
          <div class="row">
            <div class="col s12">
              <h5>{{collection.collection}}</h5>
              <p>{{collection.description}}</p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12">
              <mz-collection>
                <mz-collection-item [avatar]="true" *ngFor="let dd of collection.deeds">
                  <i mz-avatar mz-icon-mdi [icon]="'account'" class="grey darken-1"></i>
                  <a class="title" routerLink="/collection/{{dd.deed.collection_id}}">
                    <div class="title" translate
                      [translateParams]="{
                        user: dd.user,
                        deedType:getDeedMessage(dd.deed_type),
                        work: dd.work}">
                      dashboard.yourActivity.workDeed
                    </div>
                  </a>
                  <div>{{dd.created_at | date:'fullDate'}}</div>
                  <div mz-secondary-content>
                    <a mz-button routerLink="/collection/{{dd.deed.collection_id}}"><i mz-icon-mdi [icon]="'eye'" [align]="'left'"></i> {{'app.button.show' | translate}}</a>
                  </div>
                </mz-collection-item>
              </mz-collection>
            </div>
          </div>
        </div>

      </mz-card-content>
    </mz-card>
  </div>
</div>

<app-create-collection-modal
  #collectionCreationModal
  (close)="uploadModal.openModal()"
  (successCreate)="onCreateCollection()">
</app-create-collection-modal>

<mz-modal #uploadModal>
  <mz-modal-content>
    <app-upload 
      #uploadComponent
      (newCollectionSelected)="openNewCollectionModal()">
    </app-upload>
  </mz-modal-content>
</mz-modal>