<div class="row m-t-15" *ngIf="global.currentUser">
  
  <div class="col m7 offset-m1">
    <div class="row">
      <div class="col s12">
        
        <mz-card *ngIf="collectionsOwner">
          <mz-card-title>
            <h4 class="m-b-20">Dashboard</h4>
          </mz-card-title>
          <mz-card-content>
            
            <mz-tab
              [responsiveThreshold]="'true'"
              [fixedTabWidth]="'true'"
              [onShow]="onShow()"
              [swipeable]="'true'">
              <mz-tab-item
                [class]="'col s12'"
                [label]="'Your Works'">
                <div class="row">
                  <div class="col s12">
                
                    <div class="row" *ngFor="let collection of collectionsOwner.collections">
                      <div class="col m12">
                        <mz-collection>
                          <mz-collection-header><h5>{{collection.collection.title}}</h5></mz-collection-header>
                          <div class="container center-align" *ngIf="collection.works.length == 0">
                            <p>There are no works in this collection yet!</p>
                          </div>
                          <a mz-collection-link href="#!" *ngFor="let work of collection.works" routerLink="/work/{{work.id}}">{{work.title}}</a>
                        </mz-collection>
                      </div>
                    </div>
                
                  </div>
                </div>
              </mz-tab-item>
              
              <mz-tab-item
                [class]="'col s12'"
                [label]="'Start a Project'">
                <div class="row">
                  <div class="col s12">
                    <app-upload></app-upload>
                  </div>
                </div>
              </mz-tab-item>
            </mz-tab>
        
          </mz-card-content>
        </mz-card>
        
        
      </div>
    </div>
  </div>

  <div class="col m3" *ngIf="collectionsOwner">
    <div class='row' *ngIf="global.currentUser">
      <div class="col m12">
        <div class="collection z-depth-1">
          <p class="collection-item"><span class="badge">{{collectionsOwner.collectionSize}}</span>Collections</p>
          <p class="collection-item"><span class="badge">{{collectionsOwner.works}}</span>Works</p>
          <p class="collection-item"><span class="badge">{{collectionsOwner.notes}}</span>Notes</p>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col m12">
        <mz-card>
          <mz-card-title>
            <h5 class="m-b-20">Your activity</h5>
          </mz-card-title>
          <mz-card-content>
            <div class="collection" *ngFor="let collection of collectionsDeeds">
              <p class="collection-item">{{collection.user}} {{collection.deed_type}} in collection {{collection.collection}}</p>
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </div>
  
</div>


<div class="row m-t-15" *ngIf="!global.currentUser">
  <div class="col m10 offset-m1">
    
    <mz-card>
      <mz-card-title>
        <h4 class="m-b-20">Dashboard</h4>
      </mz-card-title>
      <mz-card-content>
        
        <div class="row" *ngFor="let collection of collectionsDeeds">
          <div class="row">
            <div class="col s12">
              <h5>{{collection.collection}}</h5>
              <p>{{collection.description}}</p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12">
              <mz-collection>
                <mz-collection-item [avatar]="true" *ngFor="let dd of collection.deeds">
                  <i mz-avatar mz-icon-mdi [icon]="'account'" class="grey darken-1"></i>
                  <a class="title" routerLink="/collection/{{dd.deed.collection_id}}">
                    <div class="title">{{dd.user}} {{dd.deed_type}} in the work {{dd.work}}</div>
                  </a>
                  <div>{{dd.created_at | date:'fullDate'}}</div>
                  <div mz-secondary-content>
                    <a mz-button routerLink="/collection/{{dd.deed.collection_id}}"><i mz-icon-mdi [icon]="'eye'" [align]="'left'"></i> Show</a>
                  </div>
                </mz-collection-item>
              </mz-collection>
            </div>
          </div>
        </div>

      </mz-card-content>
    </mz-card>
  </div>
</div>
