<mz-modal #modal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    <p class="m-t-0">{{'transcribe.markDetails.title' | translate}}
      <button class="btn-small right hide" mz-button mz-modal-close (click)="onAddButton()">
        <i mz-icon-mdi [icon]="'note-text'" [align]="'left'"></i> {{'transcribe.markDetails.button.addAnotherTranscription' | translate}}
      </button>
      <button class="btn-small right primary-color-text" mz-button (click)="onSuccessButton()" [flat]="true">
        <i mz-icon-mdi [icon]="'view-list'" [align]="'left'"></i> {{'transcribe.markTranscriptionsList.title' | translate}}
      </button>
    </p>
  </mz-modal-header>
  <mz-modal-content>
    <app-transcription-container
      #transcriptionContainer
      [transcription]="mark.transcription"
      [obtainVote]="true"
      [showForums]="true"
      (registerVote)="refresh()">
    </app-transcription-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button class="primary-color-text" mz-button [flat]="true" mz-modal-close (click)="closeModal()">
      {{'app.button.close' | translate}}
    </button>
  </mz-modal-footer>
</mz-modal>
