<div class="row">
    <div class="col s1 image-column">
      <div class="comment-image">
        <img src="https://ui-avatars.com/api/?name=John Doe&background=f61&color=fff&rounded=true">
      </div>
    </div>
    <div class="col s11 p-l-0">
      <div class="comment-container">
        <span><a>{{publication.user.display_name}}</a> {{publication.text}}</span>
      </div>
      <div class="comment-actions">
        <a>Me Gusta</a>
        <span aria-hidden="true" role="presentation"> · </span>
        <a [routerLink]="" (click)="showResponses = !showResponses" *ngIf="publicationsChilds.length == 0">Responder</a>
        <a [routerLink]="" (click)="showResponses = !showResponses" *ngIf="publicationsChilds.length == 1">{{publicationsChilds.length}} Comentario</a>
        <a [routerLink]="" (click)="showResponses = !showResponses" *ngIf="publicationsChilds.length > 1">{{publicationsChilds.length}} Comentarios</a>
      </div>
    </div>
</div>

<div class="row m-b-0" *ngIf="showResponses">
  <div class="col s11 response-list-margin">
    <div class="row" *ngFor="let publicationChild of publicationsChilds">
        <div class="col s1 image-column">
          <div class="comment-image response">
            <img src="https://ui-avatars.com/api/?name=John Doe&background=f61&color=fff&rounded=true">
          </div>
        </div>
        <div class="col s11 p-l-0">
          <div class="comment-container">
            <span><a>{{publicationChild.user.display_name}}</a> {{publicationChild.text}}</span>
          </div>
          <div class="comment-actions">
            <a>Me Gusta</a>
          </div>
        </div>
    </div>
    
    <div class="row reply-container" [ngClass]="{'focused': replyBoxFocused == true}">
      <div class="col s1 image-column">
        <div class="comment-image response">
          <img src="https://ui-avatars.com/api/?name=John Doe&background=f61&color=fff&rounded=true">
        </div>
      </div>
      <div class="col s11 p-l-0">
        <div class="card-panel reply-box">
          <div class="row m-b-0">
            <div class="col s11 text-field">
              <div class="input-field">
                <textarea class="materialize-textarea" placeholder="Escribe un comentario..." (focus)="replyBoxFocused = true" (blur)="replyBoxFocused = false" *ngIf="publication!=null && publication.parent_id==null"
                [(ngModel)]="publicationNew.text"></textarea>
              </div>
            </div>
            <div class="col s1 send-button">
              <button mz-button
                [float]="true"
                *ngIf="publication!=null && publication.parent_id==null"
                (click)="addComment()">
                <i mz-icon-mdi [icon]="'send'"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
