<div class="row m-t-5">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editCollection.label.title' | translate"
        [(ngModel)]="collection.title"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editCollection.label.url' | translate"
        [(ngModel)]="collection.slug"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="collection.description"
        [label]="'editCollection.label.description' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col m6">
    <button mz-button class="btn-delete" (click)="delete()"><i mz-icon-mdi [icon]="'delete-forever'" [align]="'left'"></i> {{'editCollection.button.delete' | translate}}</button>
  </div>
  <div class="col m6 right-align">
    <button mz-button (click)="save()"><i mz-icon-mdi [icon]="'content-save'" [align]="'left'"></i> {{'app.button.save' | translate}}</button>
  </div>
</div>
