<div class="row m-t-5">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'Collection Title'"
        [(ngModel)]="collection.title"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'URL'"
        [(ngModel)]="collection.slug"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="collection.description"
        [label]="'Description'">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col m6">
    <button mz-button class="btn-delete" (click)="delete()"><i mz-icon-mdi [icon]="'delete-forever'" [align]="'left'"></i> Delete Collection</button>
  </div>
  <div class="col m6 right-align">
    <button mz-button (click)="save()"><i mz-icon-mdi [icon]="'content-save'" [align]="'left'"></i> Save Changes</button>
  </div>
</div>
