<div class="text-editor-panel z-depth-1">
  <mz-card class="text-editor m-t-0 m-b-0 z-depth-0">
      <mz-card-title>
        <h5>
          {{'transcribe.title' | translate}}
          <button class="btn btn-small right" mz-button (click)="save()">
            <i mz-icon-mdi [icon]="'content-save'" [align]="'left'"></i> {{'app.button.save' | translate}}
          </button>
          <a *ngIf="page != null" routerLink="/page-version/{{page.id}}">
            <button class="btn btn-small right" [flat]="true" mz-button>
              {{'page-versions.actionText' | translate}}
            </button>
          </a>
        </h5>
      </mz-card-title>
      <mz-card-content>
        
        <div class="row m-t-5 m-b-5" *ngIf="page != null">
          <div class="col">
            <mz-checkbox-container>
              <input mz-checkbox 
              [label]="'Transcripción completa'" 
              id="markAsTranscribedCheckbox" 
              [(ngModel)]="transcribed" 
              (ngModelChange)="refreshTranscriptionStatus('transcribed')"
              type="checkbox">
            </mz-checkbox-container>
          </div>
          <div class="col">
            <mz-checkbox-container>
              <input mz-checkbox
              [label]="'Marcar como vacía'"
              id="markAsBlankCheckbox"
              [(ngModel)]="mark_blank"
              (ngModelChange)="refreshTranscriptionStatus('mark_blank')"
              type="checkbox">
            </mz-checkbox-container>
          </div>
          <div class="col">
            <mz-checkbox-container>
              <input mz-checkbox
              [label]="'Necesita Revisión'"
              id="needsReviewCheckbox"
              [(ngModel)]="needs_review"
              (ngModelChange)="refreshTranscriptionStatus('needs_review')"
              type="checkbox">
            </mz-checkbox-container>
          </div>
        </div>
        
        <app-ngx-editor 
        #textEditor
        [placeholder]="'transcribe.textEditor.placeholder' | translate" 
        [spellcheck]="true" 
        [(ngModel)]="htmlContent" 
        (focus)="onFocus()"
        [config]="editorConfig">
      </app-ngx-editor>
    </mz-card-content>
  </mz-card>
</div>
