<mz-parallax [height]="400">
  <img src="assets/img/home.jpg">
  <div class="parallax-logo">
    <img src="assets/img/logo.png">
  </div>
</mz-parallax>

<div class="purpose">
  <div class="row">
    <div class="col l4 offset-l4">
      <h5 class="flow-text">"Make transcripts and translations of manuscripts comfortably and online collaborating with many other users"</h5>
    </div>
  </div>
</div>

<br>
<div class="container">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque dolor vel justo tincidunt, nec pulvinar massa viverra. Fusce in ante elementum, porttitor massa sit amet, viverra mauris. Fusce nec egestas purus. In hac habitasse platea dictumst. Praesent et eros tristique, feugiat purus nec, sodales quam. Sed varius vel sem at bibendum. Sed at nibh pulvinar tellus suscipit mattis at in velit. Integer et quam et sem tincidunt rhoncus. Cras id nisl a elit placerat blandit. Donec tristique ligula eget tristique eleifend. Donec egestas sagittis turpis. Aliquam mollis mi lorem, sit amet scelerisque sapien iaculis ut. Pellentesque consectetur semper hendrerit. Duis convallis pulvinar tempus. Donec facilisis venenatis tellus tempus viverra.

	In vulputate semper nulla, in luctus massa venenatis a. Vestibulum quis augue augue. Etiam congue ullamcorper elit, non venenatis mauris vestibulum non. Phasellus ac nulla laoreet, volutpat justo sed, malesuada ipsum. Integer scelerisque vulputate est non suscipit. Vestibulum pellentesque auctor risus, sed posuere dolor pharetra at. Ut imperdiet tincidunt lorem, a porta elit sodales non. Nullam quis sem eget tortor pretium venenatis. Duis quis ex mattis, fermentum enim sed, aliquam lorem. Vestibulum ornare dui metus, nec commodo diam dictum malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean in tincidunt quam. Mauris eleifend sapien orci, quis sodales diam vulputate eu. Quisque interdum efficitur lectus, vel feugiat tortor tincidunt id. Etiam consectetur eu dolor ut ultricies. Maecenas a viverra magna.

	Quisque molestie non lacus ut bibendum. Cras dui turpis, condimentum a metus ut, viverra rhoncus arcu. Etiam nisi libero, imperdiet fermentum orci sit amet, tincidunt vestibulum mi. Integer lorem nibh, pharetra in lobortis eget, mattis ut lorem. Ut et ligula dapibus, tincidunt lacus nec, porttitor lacus. Nunc sed risus massa. Donec in pharetra velit, sed accumsan enim. Nullam gravida nunc in lacus semper, at sagittis velit vulputate. Nam ut gravida augue. Praesent posuere bibendum enim a feugiat. Fusce venenatis lorem a arcu pulvinar, sit amet vestibulum metus malesuada. Maecenas placerat metus eu urna sodales, in scelerisque lectus pellentesque. Nullam sit amet justo dui. Proin nibh tellus, ultrices vitae cursus nec, gravida quis ipsum. Cras egestas massa sed felis faucibus blandit.

	Donec est augue, porttitor at enim sed, commodo placerat nibh. Praesent aliquam hendrerit odio eu vestibulum. Nam ut nunc eget nisl rhoncus consectetur. Phasellus porttitor ante id sapien aliquam, vel bibendum dolor cursus. Vivamus id metus nec mauris suscipit tempus. Vivamus at justo ac erat vestibulum eleifend eu non diam. Nunc pretium feugiat urna id tempor.

	Pellentesque vulputate, metus sed efficitur suscipit, massa est mollis ipsum, ac posuere justo magna sed eros. Ut porta sed enim ut vestibulum. Aliquam feugiat mauris ut est sodales feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ac feugiat libero, in maximus ipsum. Nam posuere ut sem sed luctus. Sed faucibus massa ut tincidunt euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ornare dui ac nisi sodales sollicitudin. Etiam at eleifend sapien, eget porttitor mauris. Cras sed ante eros.
</div>
<br>
