<mz-parallax [height]="400">
  <img src="assets/img/home.jpg">
  <div class="parallax-logo">
    <img src="assets/img/logo.png">
  </div>
</mz-parallax>

<div class="purpose">
  <div class="row">
    <div class="col l4 offset-l4">
      <h5 class="flow-text">"Transcribe and Translate manuscripts comfortably and online collaborating with many other users"</h5>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/1.jpg">
          <span class="card-title">Transcribe</span>
        </div>
        <div class="card-content">
          <p>Because Trancriptor runs in your browser, you can read and transcribe materials from anywhere.</p>
        </div>
      </div>
    </div>
    
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/2.jpg">
          <span class="card-title">Share you opinion</span>
        </div>
        <div class="card-content">
          <p>Users can discuss difficult writing or obscure words within a page to refine their transcription.</p>
        </div>
      </div>
    </div>
    
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/3.jpg">
          <span class="card-title">Explore</span>
        </div>
        <div class="card-content">
          <p>The resulting text is hosted on the web, making documents easy to read and search.</p>
        </div>
      </div>
    </div>
</div>
</div>
<br>
