<mz-parallax [height]="400">
  <img src="assets/img/home.jpg">
  <div class="parallax-logo">
    <img src="assets/img/logo.png">
  </div>
</mz-parallax>

<div class="purpose">
  <div class="row">
    <div class="col l4 offset-l4">
      <h5 class="flow-text">{{'home.banner' | translate}}</h5>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/1.jpg">
          <span class="card-title">{{'home.image.left.title' | translate}}</span>
        </div>
        <div class="card-content">
          <p>{{'home.image.left.text' | translate}}</p>
        </div>
      </div>
    </div>
    
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/2.jpg">
          <span class="card-title">{{'home.image.middle.title' | translate}}</span>
        </div>
        <div class="card-content">
          <p><{{'home.image.middle.text' | translate}}/p>
        </div>
      </div>
    </div>
    
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/3.jpg">
          <span class="card-title">{{'home.image.right.title' | translate}}</span>
        </div>
        <div class="card-content">
          <p>{{'home.image.right.text' | translate}}</p>
        </div>
      </div>
    </div>
</div>
</div>
<br>
