/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

body{
	background-color: $bodyColor;
}

.main-navbar{
	background-color: $primaryColor;
}

nav .brand-logo img {
    height: 64px;
    opacity: 0.95;
}

.page-footer{
	background-color: #202020;
}

.page-footer .footer-copyright{
	background-color: #121212;
}

// helpers

.primary-color{
  background-color: $primaryColor;
}

.primary-color-text{
  color: $primaryColor;
}

// forms
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: $primaryColor;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid $primaryColor;
  box-shadow: none;
}
