/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

header {
  z-index: 9999;
}

body{
	background-color: $bodyColor;
  background-image: $pattern;
  overflow-y: auto;
  overflow-x: hidden;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-navbar{
	background-color: $primaryColor;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: initial;
        -webkit-transform: initial;
        transform: initial;
    }
}

nav .brand-logo img {
  height: 64px;
  opacity: 0.95;
}

nav .back-button {
  margin-left: 10px;
}

nav .back-button i{
  margin-right: 0px;
}

#dropdown-user {
  z-index: 9999;
}

#btn-dropdown-demo .user-photo{
  height: 40px;
  margin-top: 14px;
  margin-right: 6px;
  margin-bottom: -17px;
}

#btn-dropdown-demo .user-info{
  float: right;
}

#btn-dropdown-demo .user-rank{
  position: absolute;
  top: 40px;
  font-size: small;
  line-height: 14px;
  display: block;
}

.page-footer{
	background-color: #202020;
}

.page-footer .footer-copyright{
	background-color: #121212;
}

.page-footer .footer-logo{
  height: 75px;
  opacity: 0.9;
}

// helpers

.primary-color{
  background-color: $primaryColor;
}

.primary-color-text{
  color: $primaryColor;
}

// forms
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: $primaryColor;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid $primaryColor;
  box-shadow: none;
}

.input-field input[type=text]:focus:not(.browser-default), 
.input-field input[type=password]:focus:not(.browser-default), 
.input-field input[type=email]:focus:not(.browser-default), 
.input-field input[type=url]:focus:not(.browser-default), 
.input-field input[type=time]:focus:not(.browser-default), 
.input-field input[type=date]:focus:not(.browser-default), 
.input-field input[type=number]:focus:not(.browser-default) {
  border-bottom: 2px solid $primaryColor;
  box-shadow: none;
}

.input-field input[type=text]:focus:not(.browser-default) + label, 
.input-field input[type=password]:focus:not(.browser-default) + label, 
.input-field input[type=email]:focus:not(.browser-default) + label, 
.input-field input[type=url]:focus:not(.browser-default) + label, 
.input-field input[type=time]:focus:not(.browser-default) + label, 
.input-field input[type=date]:focus:not(.browser-default) + label, 
.input-field input[type=number]:focus:not(.browser-default) + label {
  color: $primaryColor;
}

.input-field textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primaryColor;
  box-shadow: 0 1px 0 0 $primaryColor;
}

.input-field textarea.materialize-textarea:focus:not([readonly])+label {
  color: $primaryColor;
}

// buttons
.btn, .btn:focus, .btn:active {
  background-color: $primaryColor;
}

.btn:hover {
  background-color: $hoverColor;
}

.btn-flat, .btn-flat:focus {
  background-color: initial;
}

.btn-flat:hover {
  background-color: rgba(74, 74, 74, 0.15);
}

.btn-delete,.btn-delete:focus {
  background-color: #e53935;
}

.btn-delete:hover {
  background-color: #ff5252;
}

.btn-small {
  height: 30px;
  line-height: 32px;
  font-size: 0.8rem;
}
.btn-small .mdi:before {
  font-size: 1.3rem;
}
.btn-small i {
  line-height: 1.45;
}
.btn-small i.left {
  margin-right: 9px;
}

a {
  color: $primaryColor; 
}

// toasts
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 3%;
  left:2%;  
}

.toast-action:hover {
    background-color: transparent;
}

// tabs
.tabs .tab a:hover, .tabs .tab a.active{
  color: $primaryColor;
  opacity:1;
}
.tabs .tab a{
  opacity:0.7;
}
.tabs .indicator {
  background-color: $primaryColor;
}

.tabs-content {
  transition: height 0.5s; 
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

// dropdowns
.dropdown-content li>a, .dropdown-content li>span {
  color: $primaryColor;
}

// helpers
.float-correction {
  margin-top: 10px;
}

.card .card-action {
  padding: 0;
  padding-bottom: 5px;
}
