/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';

body{
	background-color: $bodyColor;
  background-image: $pattern;
  overflow-y: auto;
  
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-navbar{
	background-color: $primaryColor;
}

nav .brand-logo img {
    height: 64px;
    opacity: 0.95;
}

#dropdown-user {
  z-index: 9999;
}

.page-footer{
	background-color: #202020;
}

.page-footer .footer-copyright{
	background-color: #121212;
}

.page-footer .footer-logo{
  height: 75px;
  opacity: 0.9;
}

// helpers

.primary-color{
  background-color: $primaryColor;
}

.primary-color-text{
  color: $primaryColor;
}

// forms
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: $primaryColor;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid $primaryColor;
  box-shadow: none;
}

.input-field input[type=text]:focus:not(.browser-default), 
.input-field input[type=password]:focus:not(.browser-default), 
.input-field input[type=email]:focus:not(.browser-default), 
.input-field input[type=url]:focus:not(.browser-default), 
.input-field input[type=time]:focus:not(.browser-default), 
.input-field input[type=date]:focus:not(.browser-default), 
.input-field input[type=number]:focus:not(.browser-default) {
  border-bottom: 2px solid $primaryColor;
  box-shadow: none;
}

.input-field input[type=text]:focus:not(.browser-default) + label, 
.input-field input[type=password]:focus:not(.browser-default) + label, 
.input-field input[type=email]:focus:not(.browser-default) + label, 
.input-field input[type=url]:focus:not(.browser-default) + label, 
.input-field input[type=time]:focus:not(.browser-default) + label, 
.input-field input[type=date]:focus:not(.browser-default) + label, 
.input-field input[type=number]:focus:not(.browser-default) + label {
  color: $primaryColor;
}

.input-field textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primaryColor;
  box-shadow: 0 1px 0 0 $primaryColor;
}

.input-field textarea.materialize-textarea:focus:not([readonly])+label {
  color: $primaryColor;
}

// buttons
.btn, .btn:focus, .btn:active {
  background-color: $primaryColor;
}

.btn:hover {
  background-color: $hoverColor;
}

.btn-flat, .btn-flat:focus {
  background-color: initial;
}

.btn-flat:hover {
  background-color: #d9d9d9;
}

.btn-delete,.btn-delete:focus {
  background-color: #e53935;
}

.btn-delete:hover {
  background-color: #ff5252;
}

a {
  color: $primaryColor; 
}

// toasts
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 3%;
  left:2%;  
}

// tabs
.tabs .tab a:hover, .tabs .tab a.active{
  color: $primaryColor;
  opacity:1;
}
.tabs .tab a{
  opacity:0.7;
}
.tabs .indicator {
  background-color: $primaryColor;
}

.tabs-content {
  transition: height 0.5s; 
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

// dropdowns
.dropdown-content li>a, .dropdown-content li>span {
  color: $primaryColor;
}

// helpers
.float-correction {
  margin-top: 10px;
}

.card .card-action {
  padding: 0;
  padding-bottom: 5px;
}
