<div class="row m-t-15">
  <div class="col m10 offset-m1">
    <mz-card>
      <mz-card-title>
          <h4 class="m-b-56">{{'myProfile.title' | translate}}
            <button mz-button class="right m-t-10" (click)="openModalEditProfile()">
              <i mz-avatar mz-icon-mdi [icon]="'account-edit'" [align]="'left'"></i>{{'myProfile.edit' | translate}}
            </button>
          </h4>
      </mz-card-title>
      <mz-card-content>
        <br>
        <div class="row">
          <div class="col m12">
            <ul>
              <li class="m-b-10">
                <b>{{'myProfile.label.name' | translate}}:</b> {{user.display_name}}
              </li>
              <li class="m-b-10">
                <b>{{'myProfile.label.username' | translate}}:</b> {{user.login}}
              </li>
              <li class="m-b-10">
                <b>{{'myProfile.label.email' | translate}}:</b> {{user.email}}
              </li>
              <li class="m-b-10" *ngIf="user.location != null">
                <b>{{'myProfile.label.location' | translate}}:</b> {{user.location}}
              </li>
              <li class="m-b-10" *ngIf="user.website != null">
                <b>{{'myProfile.label.website' | translate}}:</b> {{user.website}}
              </li>
              <li class="m-b-10" *ngIf="user.about != null">
                <b>{{'myProfile.label.about' | translate}}:</b> {{user.about}}
              </li>
            </ul>
          </div>
        </div>

      </mz-card-content>
    </mz-card>
  </div>
</div>

<div class="row m-t-15">
  <div class="col m10 offset-m1">
    <app-badges></app-badges>
  </div>
</div>

<mz-modal #modalEditProfile [fixedFooter]="true">
  <mz-modal-header>
    {{'myProfile.edit' | translate}}
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'myProfile.label.name' | translate"
            [(ngModel)]="user.display_name"
            type="text">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'myProfile.label.username' | translate"
            [(ngModel)]="user.login"
            type="text">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'myProfile.label.email' | translate"
            [(ngModel)]="user.email"
            type="text">
        </mz-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'myProfile.label.website' | translate"
            [(ngModel)]="user.website"
            type="text">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'Location'"
            [(ngModel)]="user.location"
            type="text">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-textarea-container>
          <textarea mz-textarea
            [label]="'myProfile.label.about' | translate"
            [(ngModel)]="user.about">
          </textarea>
        </mz-textarea-container>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{'app.button.cancel' | translate}}</button>
    <button mz-button [flat]="true" mz-modal-close (click)="updateUser()">{{'app.button.save' | translate}}</button>
  </mz-modal-footer>
</mz-modal>
