:host ::ng-deep app-search-input .card {
    margin-bottom: 7px;
}

.filters {
    box-shadow: none;
    background-color: #F5F5F5;
    border: 1px solid #dddddd;
    // padding-top: 10px;
    // padding-bottom: 10px;
    margin-bottom: 7px;
    border-radius: 8px;
}
:host ::ng-deep .filters .transcriptor-search-input {
    margin: 0;
}
:host ::ng-deep .filters .transcriptor-search-input .card-content {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

:host ::ng-deep .transcriptor-search-input.filter-value .card-content {
    padding-bottom: 13px;
    height: 100% !important;
}
:host ::ng-deep .transcriptor-search-input.filter-value .card-content .input-field,
:host ::ng-deep .transcriptor-search-input.filter-value .card-content .input-field input {
    margin-top: 0px;
    margin-bottom: 0px;
}
:host ::ng-deep .transcriptor-search-input.card.flat {
    box-shadow: none;
    background-color: #F5F5F5;
    border: none !important;
}