<div class="row m-t-15">
  <div class="col s12">
    <mz-card>
      <mz-card-title>
        <h6 class="m-b-10 search-title">{{'markSearch.title' | translate}}</h6>
      </mz-card-title>
      <mz-card-content>
        <p class="m-b-10">{{ 'markSearch.description' | translate }}</p>

        <!-- (onFetch)="searchEntities($event)"
        (itemChange)="itemChange($event)" -->
        <app-search-input
            #searchInput
            (onFetch)="searchMarks($event)"
            (invalidInput)="handleInvalidInput()"
            (onClear)="onClear()"
            [placeholder]="'markSearch.placeholder.searchMark' | translate"
            [itemIcon]="'semantic-web'"
            [autocomplete]="false"
            [flatStyle]="true"
            *ngIf="!advancedSearch">
        </app-search-input>
        <div class="filters" *ngIf="advancedSearch">
          <p class="col s12 m-t-5 primary-color-text">{{'search.filters.title' | translate}}</p>
          <div class="row m-b-0">
            <div class="col m4">
              <small class="primary-color-text">{{'search.filters.elementType' | translate}}</small>
              <app-ontology-search-input 
                [(ontologyComponent)]="classFilter"
                (ontologyComponentChange)="searchMarks()"
                [fetchSelectedEntity]="false"
                [placeholder]="'Ej: Person'"
                [searchIcon]="false"
                [flatStyle]="true"
                [componentType]="'class'"
                (onClear)="clearFilter('class')">
              </app-ontology-search-input>
            </div>
            <div class="col m4">
              <small class="primary-color-text">{{'search.filters.loadedProperty' | translate}}</small>
              <app-ontology-search-input
                [(ontologyComponent)]="relationFilter"
                (ontologyComponentChange)="searchMarks($event)"
                [fetchSelectedEntity]="false"
                [placeholder]="'Ej: label'"
                [searchIcon]="false" 
                [flatStyle]="true"
                [componentType]="'relation'"
                (onClear)="clearFilter('relation')">
              </app-ontology-search-input>
            </div>
            <div class="col m4">
              <small class="primary-color-text">{{'search.filters.loadedValue' | translate}}</small>
              <mz-card class="transcriptor-search-input filter-value flat">
                <mz-card-content>
                  <mz-input-container>
                    <input 
                      mz-input
                      [placeholder]="'Ej: San Martín'" 
                      type="text" 
                      [(ngModel)]="valueFilter"
                      (ngModelChange)="searchMarks($event)">
                    <i mz-icon-mdi class="input-suffix" [icon]="'close'" [align]="'center'" *ngIf="showClearButton" (click)="clear()"></i>
                  </mz-input-container>
                </mz-card-content>
              </mz-card>
            </div>
          </div>
        </div>
        <div class="row right-align m-b-5">
          <a class="m-t-0" (click)="advancedSearch = false" *ngIf="advancedSearch">{{'search.switch.basicSearch' | translate}}</a>
          <a class="m-t-0" (click)="advancedSearch = true" *ngIf="!advancedSearch">{{'search.switch.advancedSearch' | translate}}</a>
        </div>

        <!-- <app-semantic-search-input #semanticSearchInput [fetchSelectedEntity]="false"
          [placeholder]="'search.placeholder.seachEntity' | translate" [flatStyle]="true" [typeSelector]="true"
          [autocomplete]="false" [(results)]="semanticEntities" (resultsChange)="semanticEntitiesChange()">
        </app-semantic-search-input>

        <div class="selected-semantic-entity m-b-10" *ngIf="!isNewSearch && semanticEntity">
          <small class="primary-color-text">{{ 'search.label.selectedEntity' | translate }}</small>
          <mz-collection>
            <mz-collection-item [avatar]="true" class="collection-item">
              <i mz-avatar mz-icon-mdi [icon]="'semantic-web'" class="primary-color"></i>
              <div class="title">{{semanticEntity.entityLabel.value}}</div>
              <p class="descriptiom-item">{{ semanticEntity.entityType.value | scheme_type }}</p>
              <a mz-secondary-content style="margin-right: 0px;">
                <a (click)="openSelectedEntityDetail()"
                  style="cursor: pointer;">{{ 'search.button.showMore' | translate }}</a>
                <i (click)="clearSelectedEntity()" style="margin-right: 0px;color: black;" mz-icon-mdi [icon]="'close'"
                  [align]="'right'"></i>
              </a>
            </mz-collection-item>
          </mz-collection>
        </div>

        <div class="semantic-entity-results" *ngIf="isNewSearch && semanticEntities">
          <h6>{{ 'search.label.loadedEntities' | translate }}</h6>
          <mz-collection>
            <mz-collection-item [avatar]="true" class="collection-item" *ngFor="let semanticEntity of semanticEntities"
              (click)="selectSemanticEntity(semanticEntity.item)">
              <i mz-avatar mz-icon-mdi [icon]="'semantic-web'" class="grey lighten-1"></i>
              <div class="title">{{semanticEntity.title}}</div>
              <p class="descriptiom-item">{{ semanticEntity.description }}</p>
              <a mz-secondary-content style="margin-right: 0px;"><i style="margin-right: 0px;color: black;" mz-icon-mdi
                  [icon]="'chevron-right'" [align]="'left'"></i></a>
            </mz-collection-item>
            <mz-collection-item class="center-align" *ngIf="semanticEntities && !semanticEntities.length > 0">
              <a href="#!" class="center-align">{{ 'app.placeholder.search.empty.list' | translate }}</a>
            </mz-collection-item>
          </mz-collection>
        </div> -->

        <!-- <div class="row" *ngIf="referencesGroups && referencesGroups.length > 0 && !isNewSearch"> -->
        <div class="row" *ngIf="referencesGroups && referencesGroups.length > 0">
          <div class="col s12">
            <h6>{{ 'search.label.results' | translate }}</h6>
            <div class="references-list">
              <app-reference-container *ngFor="let referencesGroup of referencesGroups"
                [referencesGroup]="referencesGroup" 
                [filterSlugs]="referencesGroup.contributionSlugs"
                (onReferenceSelection)="parent.referenceDetailModal.open($event, referencesGroup)">
              </app-reference-container>
            </div>
          </div>
        </div>
      </mz-card-content>
    </mz-card>
  </div>
</div>