h4{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.90rem;
}
.header-paragraph{
  font-size: .55em;
  font-weight: 400;
  margin-bottom: 0px;
}
.header-subparagraph{
  font-size: .60em;
  font-weight: 320;
}
.text-editor-panel {
  height: 100%;
}