<h5>{{'upload.title' | translate}}</h5>
<div class="row">
  <div class="col m12">
    <!-- <form ngNoForm enctype="multipart/form-data" action="http://localhost:3000/api/upload" accept-charset="UTF-8" method="post"> -->
      <input name="utf8" type="hidden" value="✓">
        
      <mz-select-container>
        <select mz-select 
          id="document_upload_collection_id"
          name="document_upload[collection_id]"
          [label]="'upload.label.collection' | translate"
          [placeholder]="'upload.placeholder.collection' | translate"
          [(ngModel)]= "collectionId"
          (change)="checkSelectedCollection()">
          <option *ngFor="let col of collections" [value]="col.id">{{ col.title }}</option>
          <option value="new"><i mz-icon-mdi [icon]="'plus'" [align]="'left'"></i> <b>{{'upload.button.addCollection' | translate}}</b></option>
        </select>
      </mz-select-container>
      
      <div class="file-field input-field">
        <div class="btn primary-color">
          <span>
            <i mz-icon-mdi [icon]="'folder'" [align]="'left'"></i>
            {{'upload.button.browse' | translate}}
          </span>
          <input #fileInput tabindex="-1" accept="application/pdf,application/zip,application/x-zip,application/x-zip-compressed" title="Upload file" type="file" name="document_upload[file]" id="document_upload_file">
        </div>
        <div class="file-path-wrapper">
          <input id="document_upload_path" class="file-path validate" type="text">
        </div>
      </div>
      
      <br>      
      <b>{{'upload.tips.title' | translate}}</b>
      <ol class="m-t-0">
        <li *ngFor="let tip of tips" [innerHTML]="tip"></li>
      </ol>
      <br>
      
      <button (click)="upload()" class="btn btn-large waves-effect primary-color right">
        <i mz-icon-mdi [icon]="'upload'" [align]="'left'"></i>
        {{'upload.button.submit' | translate}}
      </button>
    <!-- </form> -->
  </div>  
</div>
