<header>
  <ng-progress [min]="0" [spinner]="false" [thick]="true" [color]="'#ffd54f'" [ease]="'ease-in'"></ng-progress>

  <mz-navbar navbarClass="main-navbar">
  	<a routerLink="home" class="brand-logo"><img src="assets/img/logo.png" alt=""></a>
  	<mz-navbar-item-container [align]="'right'">
      <mz-navbar-item><a routerLink="/collections/list">{{'collections.title' | translate}}</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="dashboard">{{'dashboard.title' | translate}}</a></mz-navbar-item>
      	<mz-navbar-item *ngIf="!global.currentUser"><a routerLink="login"><b>{{'signIn.title' | translate}}</b></a></mz-navbar-item>
        <mz-navbar-item *ngIf="global.currentUser"><a id="btn-dropdown-demo"><b>{{global.currentUser.display_name}}</b></a></mz-navbar-item>
  	</mz-navbar-item-container>
  </mz-navbar>

  <mz-dropdown
  *ngIf="global.currentUser"
  [id]="'dropdown-user'"
  [align]="'right'"
  [belowOrigin]="true"
  [constrainWidth]="false"
  [dropdownButtonId]="'btn-dropdown-demo'"
  [hover]="false"
  [gutter]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
    <mz-dropdown-item><a routerLink="user/profile">{{'myProfile.title' | translate}}</a></mz-dropdown-item>
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item><a (click)="logout()">{{'signOut.title' | translate}}</a></mz-dropdown-item>
  </mz-dropdown>
</header>

<main [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</main>

<footer class="page-footer" *ngIf="!global.hideFooter">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<img class="footer-logo" src="assets/img/logo.png">
				<p class="grey-text text-lighten-4">{{'footer.logoText' | translate}}</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">{{'footer.linksTitle' | translate}}</h5>
				<ul>
				  <li><a class="grey-text text-lighten-3" href="https://www.cientopolis.org/">Cientopolis</a></li>
				  <li><a class="grey-text text-lighten-3" href="https://fromthepage.com/">FromThePage</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2018 Cientopolis
      <a class="grey-text text-lighten-4 right" href="#!">{{'footer.moreLinks' | translate}}</a>
		</div>
	</div>
</footer>
