<header>
  <ng-progress [min]="0" [spinner]="false" [thick]="true" [color]="'#ffd54f'" [ease]="'ease-in'"></ng-progress>

  <mz-navbar navbarClass="main-navbar">

    <a routerLink="{{global['routeBack']}}" *ngIf="global['routeBack']"><div class="back-button"><i mz-icon-mdi [icon]="'arrow-left'" [align]="'left'"></i></div></a>
  	<a routerLink="home" class="brand-logo"><img src="assets/img/logo.png" alt=""></a>


    <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item *ngIf="global['currentUser'] && '/admin' | canAccess"><a routerLink="/admin">{{'admin.title' | translate}}</a></mz-navbar-item>
        <mz-navbar-item *ngIf="'/dashboard' | canAccess"><a routerLink="/dashboard">{{'dashboard.title' | translate}}</a></mz-navbar-item>
        <mz-navbar-item *ngIf="global['currentUser'] && '/collections/list' | canAccess"><a routerLink="/collections/list">{{'collections.title' | translate}}</a></mz-navbar-item>
        <mz-navbar-item *ngIf="global['currentUser'] && '/search' | canAccess"><a routerLink="/search">{{'search.title' | translate}}</a></mz-navbar-item>
        <mz-navbar-item *ngIf="global['currentUser'] && '/ontology' | canAccess"><a routerLink="/ontology">{{'ontology.title' | translate}}</a></mz-navbar-item>
        <mz-navbar-item *ngIf="!global['currentUser']"><a routerLink="login"><b>{{'signIn.title' | translate}}</b></a></mz-navbar-item>
        <mz-navbar-item *ngIf="global['currentUser']">
          <a id="btn-dropdown-demo">
            <img class="user-photo" [src]="getAvatarUrl(global['currentUser'].display_name)">
            <div class="user-info">
              <p class="m-t-0 m-b-0">
                <b>{{global['currentUser'].display_name}}</b>
                <br>
                <small *ngIf="global['currentUser'].rank">{{global['currentUser'].rank}}</small>
              </p>
            </div>
          </a>
        </mz-navbar-item>
    </mz-navbar-item-container>

  </mz-navbar>

  <mz-dropdown
  *ngIf="global['currentUser']"
  [id]="'dropdown-user'"
  [align]="'right'"
  [belowOrigin]="true"
  [constrainWidth]="true"
  [dropdownButtonId]="'btn-dropdown-demo'"
  [hover]="false"
  [gutter]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true">
  <mz-dropdown-item class="theme-selector" (click)="$event.stopPropagation()">
    <p class="m-t-0 m-b-0 p-t-5 p-l-15 p-r-15"><label class="primary-color-text">Tema</label></p>
    <mz-switch-container class="center-align p-t-0 p-b-0">
      <input mz-switch type="checkbox" [(ngModel)]="darkModeEnabled" (click)="toggleDarkMode()" [off]="'Claro'" [on]="'Oscuro'">
      <!-- <span class="primary-color-text">Modo Oscuro</span> -->
    </mz-switch-container>
  </mz-dropdown-item>
    <mz-dropdown-item><a routerLink="user/profile">{{'myProfile.title' | translate}}</a></mz-dropdown-item>
    <mz-dropdown-divider></mz-dropdown-divider>
    <mz-dropdown-item><a (click)="logout()">{{'signOut.title' | translate}}</a></mz-dropdown-item>
  </mz-dropdown>
  <!--
  <nav class="clean" style="
    padding-left: 100px;">
    <div class="nav-wrapper">
      <div >
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </div>
  </nav>
-->


</header>

<main [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</main>

<footer class="page-footer" *ngIf="!global['hideFooter']">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<img class="footer-logo" src="assets/img/logo.png">
				<p class="grey-text text-lighten-4">{{'footer.logoText' | translate}}</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">{{'footer.linksTitle' | translate}}</h5>
				<ul>
				  <li><a class="grey-text text-lighten-3" href="https://www.cientopolis.org/">Cientopolis</a></li>
				  <li><a class="grey-text text-lighten-3" href="https://fromthepage.com/">FromThePage</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2020 Cientopolis
      <a class="grey-text text-lighten-4 right" href="#!">{{'footer.moreLinks' | translate}}</a>
		</div>
	</div>
</footer>
