<div class="row" *ngIf="loader">
  <div class="col s6 offset-s6">
    <mz-spinner [color]="'yellow'" [size]="'small'">
    </mz-spinner>
  </div>
</div>

<div class="row" *ngIf="showSelectSchema">
  <div class="col-12">
    <nav class="clean">
    <div class="nav-wrapper">
      <div class="col s12">
        <a  class="breadcrumb" *ngFor="let parent of  parents" (click)="setParent(parent)">{{parent.name}}</a>
      </div>
    </div>
    </nav>
  </div>
  <div class="col s12">
      <mz-select-container *ngIf="!loader" (click)="$event.stopPropagation()">
        <select mz-select 
          [label]="'semanticForm.label.scheme' | translate" [placeholder]="'semanticForm.placeholder.scheme' | translate"
          [(ngModel)]="scheme" (change)="selectType($event)" [disabled]="!schemas">
          <option *ngFor="let schema of schemas" [ngValue]="schema">{{ schema.name }}</option>
        </select>
      </mz-select-container>
  </div>


  
  <div class="col s5 offset-s7">
    <button class="btn btn-small left" mz-button (click)="selectSchema()">
      <i mz-icon-mdi [icon]="'content-chevron_right'" [align]="'left'"></i>
        {{'semanticForm.button.confirmType' | translate}}
    </button>
  </div>

</div>
<div class="row" *ngIf="showPropertiesSelection">
    <div class="col s12">
      <div class="row">
        <app-scheme-builder (schemeGenerated)="handleScheme($event)" [level] = "level" [schemeName]="schemeName"></app-scheme-builder>
        <div class="col s12">
          <div class="row">
            <div class="col s6">
              <button class="btn btn-small rigth" mz-button (click)="back('showPropertiesSelection')">
                <i mz-icon-mdi [icon]="'content-chevron_right'" [align]="'rigth'"></i>
                  {{'semanticForm.button.back' | translate}}
              </button>
            </div>
            <div *ngIf="false" class="col s6">
              <button class="btn btn-small left" mz-button (click)="generateScheme()">
                <i mz-icon-mdi [icon]="'content-chevron_right'" [align]="'left'"></i>
                  {{'semanticForm.button.confirmProperties' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12" *ngIf="showCompleteForm">
      <div class="row" *ngFor="let prop of  propertiesSelected">
        
        <app-scheme-inputs *ngIf="!prop.scheme" [model] = prop></app-scheme-inputs>
        <div *ngIf="prop.scheme">
          <label> {{prop.name}}</label>
          <div class="row" *ngFor="let sc of  prop.scheme.properties">
            <app-scheme-inputs [model]=sc></app-scheme-inputs>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="propertiesSelected.length==0">
        <div class="center-align">
          <h5 class="primary-color-text">No ha seleccionado ningun atributo del esquema</h5>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <button class="btn btn-small rigth" mz-button (click)="back('showCompleteForm')">
            <i mz-icon-mdi [icon]="'content-chevron_right'" [align]="'left'"></i>
               {{'semanticForm.button.back' | translate}}
          </button>
        </div>
        <div class="col s6">
          <button  *ngIf="propertiesSelected.length>0" class="btn btn-small rigth" mz-button (click)="saveScheme()">
            <i mz-icon-mdi [icon]="'content-chevron_right'" [align]="'left'"></i>
            {{'semanticForm.button.generateScheme' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col s12" *ngIf="showGeneratedScheme">
        <div class="center-align">
          <h4>{{schema_type | scheme_type | uppercase}}</h4>
        </div>
        <div class="row">
          <div class="col s12">
            <table class="bordered striped centered">
              <thead>
                <tr>
                  <th>{{'semanticForm.table.header.name' | translate}}</th>
                  <th>{{'semanticForm.table.header.value' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prop of propertiesSelected">
                  <td>{{prop.name}}</td>
                  <td  *ngIf="prop.model">{{prop.model}}</td>
                  <td *ngIf="!prop.model">
                      <table class="bordered striped centered">
                        <thead>
                          <tr>
                            <th>{{'semanticForm.table.header.name' | translate}}</th>
                            <th>{{'semanticForm.table.header.value' | translate}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of prop.scheme.properties">
                            <td>{{p.name}}</td>
                            <td>{{p.model}}</td>
                          </tr>
                        </tbody>
                      </table>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s12">
            <div class="row">
              <div class="col s6">
                <button class="btn btn-small rigth" *ngIf="!semanticContribution" mz-button
                  (click)="back('showGeneratedScheme')">
                  <i mz-icon-mdi [icon]="'content-chevron_right'" [align]="'rigth'"></i>
                  {{'semanticForm.button.back' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


