<div>
  <div *ngIf="schemeName" class="row">
    <div class="col s12 header-box">
      <h5 class="primary-color-text">{{schemeName}}</h5>
      <p>propiedades</p>
    </div>
  </div>
  <div class="row" *ngFor="let prop of  propertiesSelected" (click)="$event.stopPropagation()">
    <app-scheme-inputs (modelDeleted)="removePropertieEvent($event)" [model]=prop></app-scheme-inputs>
    <div *ngIf="prop.scheme">
      <label> {{prop.name}}</label>
      <div class="row" *ngFor="let sc of  prop.scheme.properties">
        <app-scheme-inputs (modelDeleted)="removePropertieEvent($event)" [model]=sc></app-scheme-inputs>
      </div>
    </div>
  </div>
  <div class="row">
<!--
    <div class="col s12">
      <a class="waves-effect waves-light btn-small" style="width: 100%;
      background-color: white;color:#e65100;text-align:center;font-size: 13px;
      border: 1px solid #e65100;font-size: 13px;" (click)="openModalSelectPropertie()">+
        Agregar Propiedad</a>
    </div>
-->
    <div class="col s12">
      <a class="waves-effect waves-light btn-small" style="width: 100%;
          background-color: #e65100;color:white;text-align:center;font-size: 13px;"
          (click)="openModalSelectPropertie()">+
        Agregar Propiedad</a>
    </div>
  </div>
</div>


<mz-modal #modalAddPropertieBasic [fixedFooter]="true">
  <mz-modal-header>
    Agregar una propiedad
  </mz-modal-header>
  <mz-modal-content style="font-size: 13px;">
    <div class="row">
        <div class="col m12" style="padding-left: 0px;padding-right: 0px;">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'magnify'"></i>
            <input style="margin-bottom: 5px;" (keyup)="refresh()" mz-input [label]="'Buscar un tipo de dato'" id="search-input" type="text"
              [(ngModel)]="searchText">
          </mz-input-container>
      </div>
      <div class="col s12 header-box">
        <h5 class="primary-color-text">{{schemeName}}</h5>
        <p>propiedades</p>
      </div>
      <div class="col s12" style="padding-left: 0px;padding-right: 0px;">
        <table class="bordered striped centered">
          <thead>
            <tr>
              <th>{{'semanticForm.table.header.name' | translate}}</th>
              <th>{{'semanticForm.table.header.type' | translate}}</th>
              <th>Descripcion</th>
              <th>{{'semanticForm.table.header.select' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prop of properties | filter:searchTextFilter">
              <td>{{prop.name}}</td>
              <td>
                <mz-select-container *ngIf="prop.types.length>1" (click)="$event.stopPropagation()">
                  <select mz-select (change)="selectType(prop,$event)">
                    <option *ngFor="let type of prop.types" [ngValue]="type">{{ type | scheme_type }}</option>
                  </select>
                </mz-select-container>
                <span *ngIf="prop.types.length==1">{{prop.types[0]}}</span>
              </td>
              <td>{{prop.description}}</td>
              <td>
                <mz-checkbox-container>
                  <input mz-checkbox id="{{prop.id}}" class="filled-in checkbox-orange" filledIn=true type="checkbox"
                    value="{{prop.selected}}" [(ngModel)]="prop.selected" (change)="selectPropertie(prop,$event)">
                </mz-checkbox-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <a class="waves-effect btn-flat primary-color-text text-align center" mz-modal-close>Cerrar</a>
  </mz-modal-footer>
</mz-modal>

