<mz-card>
  <mz-card-title>
    <h4 class="m-b-56">{{'myProfile.badges' | translate}}
    <button mz-button class="right m-t-10" (click)="loadRankUser()">
      <i mz-avatar mz-icon-mdi [icon]="'sync'" [align]="'left'"></i>{{'metagame.rank.sync' | translate}}
    </button>
    </h4>
  </mz-card-title>
  <mz-card-content>
    <br>
    <div class="row" *ngIf="badges.length > 0">
      <div class="col m4 center-align" *ngFor="let badge of badges">
        <div class="row m-b-5">
          <div class="col m8 offset-m2">
            <img class="responsive-img" src="{{badge.image}}">
          </div>
        </div>
        <p><b>{{badge.name}}</b></p>
        <br>
      </div>
    </div>
  </mz-card-content>
</mz-card>
