<div class="row m-b-0">
    <div class="p-l-0 p-r-0 col" [ngClass]="{ 's8': typeSelector, 's12': !typeSelector }">
        <app-search-input
            #searchInput
            (onFetch)="searchEntities($event)"
            (itemChange)="itemChange($event)"
            [placeholder]="placeholder"
            [itemIcon]="'semantic-web'"
            [autocomplete]="autocomplete"
            [flatStyle]="flatStyle"
            (onClear)="onClear()"
            (invalidInput)="handleInvalidInput()">
        </app-search-input>
    </div>
    <div class="col s4 p-r-0" *ngIf="typeSelector" (click)="openTypeFilter()">
        <mz-card class="transcriptor-type-filter" [ngClass]="{ 'flat': flatStyle }">
            <mz-card-content>
                <mz-input-container>
                    <small class="input-fixed-label">{{ 'semanticSearchInput.label.typeFilter' | translate }}</small>
                    <input 
                        #searchInput 
                        mz-input
                        [placeholder]="'semanticSearchInput.placeholder.typeFilter' | translate" 
                        type="text" 
                        [ngModel]="showedType"
                        readonly>
                    <i mz-icon-mdi class="input-suffix" [icon]="'filter'" [align]="'center'"></i>
                </mz-input-container>
            </mz-card-content>
        </mz-card>
    </div>
</div>

<mz-modal #modalTypeFilter [fixedFooter]="true">
    <mz-modal-header>
        <h4>{{ 'semanticSearchInput.modal.typeFilterModal.title' | translate }}</h4>
        <p class="m-b-10">{{ 'semanticSearchInput.modal.typeFilterModal.description' | translate }}</p>
    </mz-modal-header>
    <mz-modal-content>
        <mz-checkbox-container>
            <input mz-checkbox [(ngModel)]="showAllTypes" [label]="'Mostrar todos los tipos en la búsqueda'" [filledIn]="true" type="checkbox">
        </mz-checkbox-container>
        <div class="entity-type-selector" [ngClass]="{ 'disabled-component': showAllTypes }">
            <select-ontology-type [mark]="{}" (ontologyTypeSelected)="selectType($event)"></select-ontology-type>
        </div>
    </mz-modal-content>
    <mz-modal-footer>
        <button class="primary-color-text" mz-button [flat]="true"
            mz-modal-close>{{'app.button.cancel' | translate}}</button>
        <button class="primary-color" mz-button mz-modal-close
            (click)="filter()">{{'app.button.filter' | translate}}</button>
    </mz-modal-footer>
</mz-modal>