<div class="row m-t-5">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.title' | translate"
        [(ngModel)]="workCopy.title"
        type="text">
    </mz-input-container>
  </div>
</div>


<!-- collection select -->

<div class="row">
  <div class="col m6">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.author' | translate"
        [(ngModel)]="workCopy.author"
        type="text">
    </mz-input-container>
  </div>
  <div class="col m6">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.location' | translate"
        [(ngModel)]="workCopy.location_of_composition"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.url' | translate"
        [(ngModel)]="workCopy.slug"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="workCopy.description"
        [label]="'editWork.label.description' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="workCopy.physical_description"
        [label]="'editWork.label.physicalDescription' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="workCopy.document_history"
        [label]="'editWork.label.documentHistory' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row center-align m-t-30">
  <a href="{{exportUri}}" class="btn btn-small"><i mz-icon-mdi [icon]="'export'"
      [align]="'left'"></i>{{'editWork.button.export' | translate}}</a>
</div>
<br>
<div class="row" *ngIf="lockDelete">
  <div class="col m6">
    <button mz-button class="btn white btn-bordered" (click)="confirmDelete()"><i mz-icon-mdi [icon]="'delete-forever'" [align]="'left'"></i> {{'editWork.button.delete' | translate}}</button>
  </div>
  <div class="col m6 right-align">
    <button mz-button (click)="save()"><i mz-icon-mdi [icon]="'content-save'" [align]="'left'"></i> {{'app.button.saveChanges' | translate}}</button>
  </div>
</div>

<div class="row center-align" *ngIf="!lockDelete">
  <p>{{ 'editWork.label.deleteWarning' | translate }}</p>
  <button mz-button class="m-r-5" [flat]="true" (click)="lockDelete = true">Cancelar</button>
  <button mz-button class="btn-delete m-l-5" (click)="delete()"><i mz-icon-mdi [icon]="'delete-forever'"
      [align]="'left'"></i>{{'editWork.button.delete' | translate}}</button>
</div>