<div class="row m-t-5">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.title' | translate"
        [(ngModel)]="work.title"
        type="text">
    </mz-input-container>
  </div>
</div>


<!-- collection select -->

<div class="row">
  <div class="col m6">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.author' | translate"
        [(ngModel)]="work.author"
        type="text">
    </mz-input-container>
  </div>
  <div class="col m6">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.location' | translate"
        [(ngModel)]="work.location_of_composition"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col m12">
    <mz-input-container>
      <input mz-input
        class="input-field-primary-color"
        [label]="'editWork.label.url' | translate"
        [(ngModel)]="work.slug"
        type="text">
    </mz-input-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="work.description"
        [label]="'editWork.label.description' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="work.physical_description"
        [label]="'editWork.label.physicalDescription' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <mz-textarea-container>
      <textarea mz-textarea
        [(ngModel)]="work.document_history"
        [label]="'editWork.label.documentHistory' | translate">
      </textarea>
    </mz-textarea-container>
  </div>
</div>

<div class="row">
  <div class="col m6">
    <button mz-button class="btn-delete" (click)="delete()"><i mz-icon-mdi [icon]="'delete-forever'" [align]="'left'"></i> {{'editWork.button.delete' | translate}}</button>
  </div>
  <div class="col m6 right-align">
    <button mz-button (click)="save()"><i mz-icon-mdi [icon]="'content-save'" [align]="'left'"></i> {{'app.button.saveChanges' | translate}}</button>
  </div>
</div>
