<div class="center-align window-margin">

  <!-- <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" /> -->
  <h5 class="primary-color-text">{{'signIn.loginMessage' | translate}}</h5>
  <br><br>
  <div class="row">
    <div class="col m4 offset-m4 col s12">

      <div class="card grey lighten-4">
        <div class="card-content">

          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
          <form (ngSubmit)="login(registerForm)" #registerForm="ngForm">

            <div class='row'>
              <div class="col s12">
                <div class='input-field'>
                  <input placeholder="{{'signIn.label.username' | translate}}" [(ngModel)]="loginCredentials.username" type='email' name='username' />
                  <label for='email'></label>
                </div>
              </div>
            </div>
            
            <div class='row'>
              <div class="col s12">
                <div class='input-field'>
                  <input placeholder="{{'signIn.label.password' | translate}}" [(ngModel)]="loginCredentials.password" value="loginCredentials.password" type='password' name='password' />
                  <label for='password'></label>
                </div>
                <div class="left-align">
                  <mz-checkbox-container>
                    <input mz-checkbox  class="filled-in checkbox-orange" filledIn=true type="checkbox"
                      value="loginCredentials.remember" [label]="'Recordar usuario'" [(ngModel)]="loginCredentials.remember" name='remember' id="remember-id">
                  </mz-checkbox-container>

                </div>
                <div class="right-align">
                  <a class='primary-color-text' routerLink="/users/password/recover"><b>{{'signIn.button.forgotPassword' | translate}}</b></a>
                </div>
              </div>
            </div>
            
            <br>
            
            <div class='row'>
              <button class='col s12 btn btn-large waves-effect primary-color'>{{'signIn.button.login' | translate}}</button>
            </div>
            
          </form>
        </div>
      </div>

    </div>
  </div>
  <a (click)="openCreateAccount()" class="waves-effect btn-flat primary-color-text">{{'signIn.button.register' | translate}}</a>

</div>


<mz-modal #modalCreateUser [fixedFooter]="true">
  <mz-modal-header>
    {{'registration.title' | translate}}
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'registration.label.username' | translate"
            [(ngModel)]="user.login"
            type="text">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'registration.label.email' | translate"
            [(ngModel)]="user.email"
            type="email">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'registration.label.password' | translate"
            [(ngModel)]="user.password"
            type="password">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'registration.label.passwordConfirmation' | translate"
            [(ngModel)]="user.password_confirmation"
            type="password">
        </mz-input-container>
      </div>
    </div>
  
    <div class="row">
      <div class="col m12">
        <mz-input-container>
          <input mz-input
            class="input-field-primary-color"
            [label]="'registration.label.displayName' | translate"
            [(ngModel)]="user.display_name"
            type="text">
        </mz-input-container>
      </div>
    </div>





  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{'app.button.cancel' | translate}}</button>
    <button mz-button [flat]="true" mz-modal-close (click)="createUser()">{{'app.button.save' | translate}}</button>
  </mz-modal-footer>
</mz-modal>
