<div class="center-align window-margin">

  <!-- <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" /> -->
  <h5 class="primary-color-text">Please, login into your account</h5>
  <br><br>
  <div class="row">
    <div class="col m4 offset-m4 col s12">

      <div class="card grey lighten-4">
        <div class="card-content">

          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class="col s12">
              <div class='input-field'>
                <input [(ngModel)]="loginCredentials.username" class='validate' type='email' />
                <label for='email'>Enter your email</label>
              </div>
            </div>
          </div>
          
          <div class='row'>
            <div class="col s12">
              <div class='input-field'>
                <input [(ngModel)]="loginCredentials.password" type='password' />
                <label for='password'>Enter your password</label>
              </div>
              <div class="right-align">
                <a class='primary-color-text' href='#!'><b>Forgot Password?</b></a>
              </div>
            </div>
          </div>

          <br>

          <div class='row'>
            <button (click)="login()" class='col s12 btn btn-large waves-effect primary-color'>Login</button>
          </div>

        </div>
      </div>

    </div>
  </div>
  <a href="" class="waves-effect btn-flat primary-color-text">Create account</a>

</div>
