@import '~styles/styles';

.collection-item{
    min-height: 60px !important;
    padding-top: 5px !important;
    padding-bottom: 2px !important;
    line-height: 1rem;
}
.collection-item h6{
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 13px;
}
.descriptiom-item{
    font-size: .70em;
    font-weight: 300;
}
.collection-item:hover {
    cursor:pointer; cursor: hand;
    background-color: #f5f5f5;
}


ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
   overflow: auto;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li:last-child a,
ul.breadcrumb li:last-child a:hover {
  background-color: $primaryColor;
  color:white;
  border-radius: 3px;
  padding:3px;

}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color:#e65100;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #c04705;
  text-decoration: underline;
  cursor:pointer; cursor: hand;
}

