<div class="row m-t-15">

      <div class="col m7 offset-m1" *ngIf="work">
        <mz-card>
          <mz-card-title>
            <div class="work-image circle left z-depth-1" [style.background-image]="'url(' + workImageUrl + ')'">
              <div class="upload-button valign-wrapper" (click)="openImageLoader()">
                <p><i mz-icon-mdi [icon]="'image-plus'"></i></p>
                <input #fileInput tabindex="-1" accept="image/*" type="file" name="work[picture]" id="work_picture"
                  class="hide" (change)="upload()">
              </div>
            </div>
            <a routerLink="/collections/list"><small class="m-b-0 m-t-0">{{ 'collections.title' | translate }}</small></a><small> / </small><a routerLink="/collection/{{work.collection.id}}"><small class="m-b-0 m-t-0">{{ work.collection.title }}</small></a>
            <h4 class="m-b-0 m-t-0">{{ work.title }}</h4>
          </mz-card-title>
          <mz-card-content>
            <p class="m-t-15 m-b-15" [innerHTML]="work.description | safeHtml"></p>
            <mz-tab
              [responsiveThreshold]="'true'"
              [fixedTabWidth]="'true'"
              [onShow]="onShow()"
              [swipeable]="'true'">
              <mz-tab-item
                [class]="'col s12'"
                [label]="'showWork.tab.pages' | translate">
                <div class="row">
                  <div class="col s12">
                    <app-list-work-pages [work]="work"></app-list-work-pages>
                  </div>
                </div>
              </mz-tab-item>
              <mz-tab-item  *ngIf="'/work:configuration' | canAccess"
                [class]="'col s12'"
                [label]="'showWork.tab.settings' | translate">
                <div class="row">
                  <div class="col s12">
                    <app-edit-work [work]="work"></app-edit-work>
                  </div>
                </div>
              </mz-tab-item>
            </mz-tab>

          </mz-card-content>
        </mz-card>
      </div>
      
      <div class="col m3" *ngIf="work && '/work:activities' | canAccess" >
        <ul class="collection with-header no-border z-depth-1">
          <li class="collection-header"><i mz-icon-mdi [icon]="'history'"></i><span>{{'dashboard.activity.title' | translate}}</span></li>
          <li
          *ngFor="let collectionDeed of collectionsDeeds"
          class="collection-item"
          translate
          [translateParams]="{
            user: collectionDeed.user.login,
            deedType:getDeedMessage(collectionDeed.deed_type),
            work: collectionDeed.work.title}">
          dashboard.yourActivity.workDeed
          </li>
        </ul>
      </div>
      

</div>
