@import '~styles/styles';

:host ::ng-deep .references-list app-reference-container:first-of-type .collapsible,
:host ::ng-deep .references-list app-reference-container:first-of-type .collapsible li:first-of-type .collapsible-header,
:host ::ng-deep .references-list app-reference-container:first-of-type .collapsible li:first-of-type .collapsible-header .collection {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

:host ::ng-deep .references-list app-reference-container:last-of-type .collapsible,
:host ::ng-deep .references-list app-reference-container:last-of-type .collapsible li:last-of-type .collapsible-header:not(.active),
:host ::ng-deep .references-list app-reference-container:last-of-type .collapsible li:last-of-type .collapsible-header:not(.active) .collection,
:host ::ng-deep .references-list app-reference-container:last-of-type .collapsible li:last-of-type .collapsible-body {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}