@import '~styles/styles';

a.collection-item {
  color: $primaryColor !important;
}

a.btn {
  color: white;
}

.work-image {
    height: 68px;
    width: 68px;
    margin: 2px 5px 0px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.work-image .upload-button {
    background-color: #6c6c6ccc;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all .2s $transitionTimingFunction;
    opacity: 0;
}
.work-image:hover .upload-button {
    opacity: 1;
}
.work-image .upload-button p {
    text-align: center;
    width: 100%;
    color: $defaultColor;
}


:host ::ng-deep .collection.with-header .collection-header {
  color: white;
  background-color: $hoverColor;
}

:host ::ng-deep .collection.no-border {
  border: none;
}

:host ::ng-deep .empty-data-message {
  margin: 10px !important;
}

:host ::ng-deep .collection.with-header .collection-header .mdi {
  display: block;
  position:  absolute;
  top: 3px;
}

:host ::ng-deep .collection.with-header .collection-header .mdi + span {
  margin-left: 30px;
}

:host ::ng-deep .collection-works-list .collection.with-header .collection-header h5 {
  margin-top: 0;
  margin-bottom: 0;
}

:host ::ng-deep .tabs {
    background-color: $lightGrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
:host ::ng-deep .tabs .tab {
    // text-align: left;
    text-transform: capitalize;
    font-weight: bold;
}
:host ::ng-deep mz-tab .tabs-content {
  background-color: #FAFAFA;
}

mz-card-title {
  line-height: 0;
}
