<div class="row m-t-15">
  <div class="col m10 offset-m1">
    <mz-card>
      <mz-card-title>
        <h4>{{'startAProject.title' | translate}}</h4>
      </mz-card-title>
      <mz-card-content>
        <app-upload
          #uploadComponent
          (newCollectionSelected)="openNewCollectionModal()">
        </app-upload>
      </mz-card-content>
    </mz-card>
  </div>
</div>

<app-create-collection-modal 
  #collectionCreationModal
  (successCreate)="onCreateCollection()">
</app-create-collection-modal>
