<div class="transcribe-screen"
leaflet
leafletDraw 
[leafletOptions]="options"
[leafletDrawOptions]="drawOptions"
(leafletMapReady)="onMapReady($event)">
</div>

<mz-modal id="markModal" #markModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    What does it say here?
    <button class="btn-delete right float-correction" mz-button mz-modal-close *ngIf="editing" (click)="deleteModalMark()">
      <i mz-icon-mdi [icon]="'delete'" [align]="'left'"></i> Delete
     </button>
  </mz-modal-header>
  <mz-modal-content>
    <mz-textarea-container
      *ngIf="renderedMark != null">
      <textarea mz-textarea
        [(ngModel)]="renderedMark.mark.transcription_text"
        [label]="'Transcribe the text of the marked line'">
      </textarea>
    </mz-textarea-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button class="primary-color-text" mz-button [flat]="true" mz-modal-close (click)="cancelModal()">Cancel</button>
    <button class="primary-color" mz-button mz-modal-close *ngIf="!editing" (click)="addModalMark()">Save</button>
    <button class="primary-color" mz-button mz-modal-close *ngIf="editing" (click)="editModalMark()">Save Changes</button>    
  </mz-modal-footer>
</mz-modal>

<app-mark-details 
  #markDetailsModal 
  *ngIf="renderedMark != null" 
  [mark]="renderedMark.mark"
  [modalOptions]="modalOptions" 
  (close)="cancelModal()"
  (successButton)="openMarkTranscriptionsList()">
</app-mark-details>

<app-mark-transcriptions-list 
  #markTranscriptionsList
  *ngIf="renderedMark != null" 
  [mark]="renderedMark.mark">
</app-mark-transcriptions-list>
