<div class="transcribe-screen"
[ngClass]="{'collapsed': transcribeOptions.hideTextEditor}"
leaflet
leafletDraw
[leafletOptions]="options"
[leafletDrawOptions]="drawOptions"
(leafletMapReady)="onMapReady($event)">
  <app-image-settings 
    [isActive]="showImageAdjusts"
    [delegate]="this"
    [imageSelector]="'.leaflet-image-layer'">
  </app-image-settings>
</div>

<mz-dropdown [id]="'dropdown-layers'" [align]="'left'" [belowOrigin]="false" [constrainWidth]="true"
  [dropdownButtonId]="'btn-dropdown-layers'" [gutter]="true" [hover]="false" [inDuration]="300" [outDuration]="300"
  [stopPropagation]="true" *ngIf="transcriptionLayers && layersEnabled">
  <mz-dropdown-item><a (click)="openLayerModal()"><i mz-icon-mdi [icon]="'plus-circle'" [align]="'left'" [size]="'18px'"></i>Añadir Capa</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <div *ngFor="let transcriptionLayer of transcriptionLayers">
    <mz-dropdown-item (click)="setTranscriptionLayer(transcriptionLayer)"><a>{{ transcriptionLayer.name }}</a></mz-dropdown-item>
  </div>
  <mz-dropdown-item (click)="setTranscriptionLayer(null)"><a>Texto</a></mz-dropdown-item>
</mz-dropdown>

<a mz-button id="btn-dropdown-layers" class="btn btn-small layers-button" *ngIf="transcriptionLayers && layersEnabled">
  <i mz-icon-mdi [icon]="'layers'" [align]="'left'"></i>{{ transcriptionLayer ? transcriptionLayer.name : 'TEXTO' }}
</a>

<div *ngIf="'/transcribe:transcribe' | canAccess" class="panel-show-button z-depth-1" (click)="toggleEditor()">
  <i mz-icon-mdi [icon]="'chevron-left'" [align]="'left'"></i> 
</div>

<div *ngIf="'/transcribe:transcribe' | canAccess" class="editor-wrapper" [hidden]='transcribeOptions.hideTextEditor'>
  <div class="panel-hide-button z-depth-1" (click)="toggleEditor()">
    <i mz-icon-mdi [icon]="'chevron-right'" [align]="'left'"></i> 
  </div>
  <app-text-editor 
    #textEditor 
    class="transcribe-editor" 
    [page]="page"
    [(transcribeStrategy)]="transcribeStrategy"
    (clickText)="selectMark($event)"
    *ngIf="!classicMode  && !semanticMode">
  </app-text-editor>
  <app-semantic-text-editor 
    [page]="page"
    [layer]="transcriptionLayer"
    [delegate]="this"
    [renderedMark]="renderedMark"
    [renderedMarks]="renderedMarks"
    [showComponent]="componentSemanticMode"
    *ngIf="!classicMode && semanticMode">
  </app-semantic-text-editor>
  <app-basic-text-editor
    [page]="page"
    *ngIf="classicMode">
  </app-basic-text-editor>
</div>

<mz-modal id="markModal" #markModal [fixedFooter]="true" [bottomSheet]="true" [options]="modalOptions">
  <mz-modal-header>
    {{'transcribe.modal.mark.title' | translate}} 
    <button class="btn-delete right float-correction" mz-button mz-modal-close *ngIf="editing" (click)="deleteModalMark()">
      <i mz-icon-mdi [icon]="'delete'" [align]="'left'"></i> {{'app.button.delete' | translate}}
     </button>
  </mz-modal-header>
  <mz-modal-content>
    <mz-textarea-container
      *ngIf="renderedMark != null">
      <textarea mz-textarea
        [(ngModel)]="renderedMark.mark.transcription_text"
        [label]="'transcribe.modal.mark.label.transcriptionText' | translate">
      </textarea>
    </mz-textarea-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button class="primary-color-text" mz-button [flat]="true" mz-modal-close (click)="cancelModal()">{{'app.button.cancel' | translate}}</button>
    <button class="primary-color" mz-button mz-modal-close *ngIf="!editing" (click)="addModalMark()">{{'app.button.save' | translate}}</button>
    <button class="primary-color" mz-button mz-modal-close *ngIf="editing" (click)="editModalMark()">{{'app.button.saveChanges' | translate}}</button>
  </mz-modal-footer>
</mz-modal>

<app-mark-details
  #markDetailsModal
  *ngIf="renderedMark != null"
  [mark]="renderedMark.mark"
  [obtainMark]="true"
  [votable]="vote.vote"
  [modalOptions]="modalOptions"
  (close)="cancelModal()"
  (successButton)="openMarkTranscriptionsList()"
  (addButton)="openTranscriptionsForm()"
  (changedTranscription)="updateTextEditor()">
</app-mark-details>

<app-mark-transcriptions-list
  #markTranscriptionsList
  *ngIf="renderedMark != null"
  [mark]="renderedMark.mark"
  (close)="markDetailsModal.refresh()"
  (addButton)="markDetailsModal.modal.closeModal(); openTranscriptionsForm()">
</app-mark-transcriptions-list>

<app-layer-modal 
  #layerModal
  *ngIf="page != null"
  [page]="page"
  (saveLayer)="loadLayers()">
</app-layer-modal>

<app-transcription-form 
  #transcriptionForm
  *ngIf="renderedMark != null"
  [mark]="renderedMark.mark"
  [modalOptions]="modalOptions"
  (close)="cancelModal()">
</app-transcription-form>