<mz-modal #modal [fixedFooter]="true">
  <mz-modal-header>
    <h5 (click)="addMark()">Detalle de Referencia</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div class="transcribe-screen m-b-15" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"></div>
    <app-semantic-transcription-details
      *ngIf="detailMark"
      [relation]="true" 
      [markSelected]="detailMark">
    </app-semantic-transcription-details>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cerrar</button>
  </mz-modal-footer>
</mz-modal>