<mz-modal #modal [fixedFooter]="true">
  <mz-modal-header>
    <h5 (click)="addMark()">{{ 'search.modal.detailReference.title' | translate }}</h5>
  </mz-modal-header>
  <mz-modal-content>
    <div 
      [ngClass]="{ 'hide': !referenceInfo }"
      class="transcribe-screen m-b-15"
      leaflet 
      [leafletOptions]="options" 
      (leafletMapReady)="onMapReady($event)">
      <div class="map-loading center-align">
        <mz-spinner [color]="'yellow'" [size]="'small'">
        </mz-spinner>
      </div>
    </div>
    <app-semantic-transcription-details
      *ngIf="detailMark"
      [relation]="true" 
      [markSelected]="detailMark">
    </app-semantic-transcription-details>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>{{ 'app.button.close' | translate }}</button>
  </mz-modal-footer>
</mz-modal>